@section head {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ghstahl/P7.Core-2.0/src/P7.GraphQLViewer/static/P7.GraphQLViewer/style.css"/>
}
<section class="section"><div class="container"><div id="app"></div></div></section>
@section scripts {   
    <script src="https://cdn.jsdelivr.net/gh/ghstahl/P7.Core-2.0/src/P7.GraphQLViewer/static/P7.GraphQLViewer/bundle.js" type="text/javascript"></script>   
}