@page
@model Reference.OIDCApp.Pages.Account.GoogleSilentSigninModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GoogleSilentSignin</title>
</head>
<body>
<form id="two" target="myFrame" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" asp-route-prompt="@Model.Prompt" method="post" class="form-horizontal">
    <div>
        <p>
            <input type="text" name="provider" value="Google" />
            <input type="submit">
        </p>
    </div>
</form>
<iframe name="myFrame" src="/Account/Blank">
    Your browser does not support inline frames.
</iframe>
<script>
    function doSilentIFrameSignin() {
        var loginform = document.getElementById("two");
           
        loginform.submit();
    }
</script>
</body>
</html>
