@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>iFrameProxy</title>
    <!-- Replace the url with your own location -->
    <script type="text/javascript" src="~/lib/ternarylabs-porthole/src/porthole.min.js"></script>
    <script type="text/javascript">
        window.onload=function(){ Porthole.WindowProxyDispatcher.start(); };
    </script>
</head>
<body>
</body>
</html>
