<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="CDN Cache Buster V">
          <match url="^cdn-v/([_0-9a-zA-Z-]+)/([_0-9a-zA-Z-]+)/(.*)$" />
          <action type="Rewrite" url="SimpleRedirector/Home/Index?key={R:2}&amp;remaining={R:3}" />
        </rule>
        <rule name="CDN">
          <match url="^cdn/([_0-9a-zA-Z-]+)/(.*)$" />
          <action type="Rewrite" url="SimpleRedirector/Home/Index?key={R:1}&amp;remaining={R:2}" />
        </rule>
        <rule name="ESPA">
          <match url="^espa/([_0-9a-zA-Z-]+)?(.*)$" />
          <action type="Rewrite" url="ExtSPA/Home/Index/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>

