@section head  {
    <script src="https://rawgit.com/ghstahl/P7.Core-2.0.RemoteData/master/spas/pym.v1.js" ></script>
}
<div style="border:1px solid black;">
    <div id="example">
    </div>
</div>


@section scripts{
   
    <script>
        var pymParent = new pym.Parent('example', 'https://localhost.daplie.me/index.html', { trackscroll: true });
    </script>
}
