 @section head  {
    <link rel="stylesheet" href="https://localhost.daplie.me/global.css" />
    <link rel="stylesheet" href="https://localhost.daplie.me/bundle.css" />
}
<div id="oldSchoolIdentity"></div>
</br>
<div id="api2"></div>
</br>
<div id="api3"></div>
</br>
<script src="https://localhost.daplie.me/bundle.js"></script>



@section scripts{
    <script>
        var myDiv = document.getElementById("oldSchoolIdentity");
        var myapi2Div = document.getElementById("api2");
        var myapi3Div = document.getElementById("api3");
        var body = JSON.stringify(
            {
                query: 'query q($id: String!){identity(input: { id: $id }) {access_code oidc}}',
                variables: '{"id": "NOF"}',
                operationName: 'q'
            }
        );
        fetch('/api/graphql',
            {
                    credentials: 'include',
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: body
                })
            .then(res => res.json())
            .then(function(res) {
                console.log(res.data);
                myDiv.innerHTML = JSON.stringify(res.data);
            });

        // do some CORS
    var body2 = JSON.stringify(
            {
                name: 'dog',
                description: 'I am dog'
            }
        );
        fetch('https://p7coreapi.127.0.0.1.xip.io:44313/api2/OpenApi/Create',
            {

                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: body2
                })
            .then(res => res.json())
            .then(function(res) {
                console.log(res);
                myapi2Div.innerHTML = "api2:"+JSON.stringify(res);
            });
            fetch('https://p7coreapi.127.0.0.1.xip.io:44313/api2/OpenApi/testing2',
            {

                    method: 'GET',
                     headers: { 'Content-Type': 'text/plain' },

                })
            .then(res => res.json())
            .then(function(res) {
                console.log(res);
                myapi3Div.innerHTML = "api3:"+JSON.stringify(res);
            });

    </script>
}
