@section head  {
    <link rel="stylesheet" href="https://localhost.daplie.me/global.css" />
    <link rel="stylesheet" href="https://localhost.daplie.me/bundle.css" />
    <link rel="stylesheet" href="/lib/pretty-json.css" />
}
 
<div>account:</div>
<pre><code id=account></code></pre>
</br>
<div>api2:</div>
<pre><code id=api2></code></pre>
</br>
<div>api3:</div>
<pre><code id=api3></code></pre>
</br>
<script src="https://localhost.daplie.me/bundle.js"></script>



@section scripts{
    
    <script src="/lib/pretty-json.js"></script>
    <script>
        

       
        var accountPre = document.getElementById("account");
        var myapi2Div = document.getElementById("api2");
        var myapi3Div = document.getElementById("api3");
        var body = JSON.stringify(
            {
                query: 'query q($id: String!){identity(input: { id: $id }) {access_code oidc}}',
                variables: '{"id": "NOF"}',
                operationName: 'q'
            }
        );
        fetch('/api/graphql',
                {
                    credentials: 'include',
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: body
                })
            .then(res => res.json())
            .then(function (res) {
                console.log(res.data);
                accountPre.innerHTML = prettyPrint.json.prettyPrint(res.data);
            });

        // do some CORS
        var body2 = JSON.stringify(
            {
                name: 'dog',
                description: 'I am dog'
            }
        );
        fetch('https://pingo7api.azurewebsites.net/api2/OpenApi/Create',
                {

                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: body2
                })
            .then(res => res.json())
            .then(function (res) {
                console.log(res);
                myapi2Div.innerHTML = prettyPrint.json.prettyPrint(res);
            });
        fetch('https://pingo7api.azurewebsites.net/api2/OpenApi/testing2',
                {

                    method: 'GET',
                    headers: { 'Content-Type': 'text/plain' },

                })
            .then(res => res.json())
            .then(function (res) {
                console.log(res);
                myapi3Div.innerHTML = prettyPrint.json.prettyPrint(res);
            });

    </script>
}
