@section head{
    <link rel="stylesheet" href="~/static/P7.GraphQLViewer/style.css" />
}

<div id="app"></div>

@section scripts{   
    <script src="~/static/P7.GraphQLViewer/bundle.js" type="text/javascript"></script>   
}